Чтобы изменить пароль для аккаунта TheHealth.me {{ email }}, нажмите на ссылку ниже:

{{ protocol}}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Если ссылка не работает, скопируйте и вставьте URL в адресную строку в новом окне браузера.

Если Вы получили это письмо по ошибке, вероятно, другой пользователь случайно указал Ваш адрес при изменении пароля. В таком случае проигнорируйте это сообщение.

Если аккаунт {{ email }} Вам не принадлежит, проигнорируйте это сообщение.



С уважением,
команда TheHealth.me

Примечание. Не отвечайте на это сообщение.